<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
	<div class="overall-register">
		<div class="header">
			<h2>Registration Page</h2>	

		</div>
<div class="overall-register">
		<div class="content">
			<h3>Medical Personnel Registration Form</h3>

			<%- include('./partials/messages') %>

				<form class="register-form" action="" method="post">
					<div>
						<input type="text" name="firstname" placeholder="Firstname"
							value="<%= typeof firstname != 'undefined' ? firstname : '' %>" autocomplete="off" />
						<br />
						<input type="text" name="lastname" placeholder="Lastname"
							value="<%= typeof lastname != 'undefined' ? lastname : '' %>" autocomplete="off" />

						<br>
						<input type="text" name="phoneNumber" placeholder="Phone Number"
							value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>" autocomplete="off" />
						<br>

						<select name="specialization">
							<option value="">Select Your Specialization</option>

							<% let specialty=['General Medicine', 'General Surgery' , 'Neuro Surgeon' , 'Gyanaecology'
								, 'Physiotherapy' ]; specialty.forEach(function(specialties){ %>

								<option value="<%= specialties %>" <% if(typeof specialization !='undefined' &&
									specialization===specialties){ %> selected="selected" <%}%>
										><%= specialties %>
								</option>

								<% }) %>

						</select>
						<br />

						<select name="nationality">
							<option value="">Select Your Nationality</option>

							<% let nation=['Nigeria', 'Ghana' , 'Togo' , 'Garbon' , 'South Africa' ];
								nation.forEach(function(nations){ %>
								<option value="<%= nations %>" <% if(typeof nationality !='undefined' &&
									nationality===nations){ %> selected="selected" <%}%>
										><%= nations %>
								</option>

								<% }) %>
						</select>

					
						<br />

						<input type="text" name="registrationNumber" placeholder="Registration Number"
							value="<%= typeof registrationNumber != 'undefined' ? registrationNumber : '' %>" autocomplete="off" />
						<br />
					</div>
					<div class="second-form">
						<input type="text" name="hospitalName" placeholder="Approved Hospital Name"
							value="<%= typeof hospitalName != 'undefined' ? hospitalName : '' %>" autocomplete="off" />
						<br />
					

						<input type="text" name="username" placeholder="Preferred Username"
							value="<%= typeof username != 'undefined' ? username : '' %>" autocomplete="off"  />
						<br />

						<input type="password" name="password" placeholder="Password"
							value="<%= typeof password != 'undefined' ? password : '' %>" autocomplete="off" />
						<br />

						<input type="password" name="password1" placeholder="Confirm Password"
							value="<%= typeof password1 != 'undefined' ? password1 : '' %>" autocomplete="off" />
						<br />
						<p>Qualification: B.Sc <input type="radio" name="qualification" value="B.Sc" <% if(typeof
								qualification !='undefined' && qualification==='B.Sc' ){ %> checked="checked" <%}%>
								/>
								M.Sc <input type="radio" name="qualification" value="M.Sc" <% if(typeof qualification
									!='undefined' && qualification==='M.Sc' ){ %> checked="checked" <%}%>
									/>

									PhD <input type="radio" name="qualification" value="PhD" <% if(typeof qualification
										!='undefined' && qualification==='PhD' ){ %> checked="checked" <%}%>
										/>
						</p>
						<br>
						<p>Gender: Male <input type="radio" name="gender" value="Male" <% if(typeof gender !='undefined'
								&& gender==='Male' ){ %> checked="checked" <%}%>
								/>
								Female <input type="radio" name="gender" value="Female" <% if(typeof gender
									!='undefined' && gender==='Female' ){ %> checked="checked" <%}%>
									/>
						</p>
						<input type="submit" name="" value="Click to Register" />
					</div>
				</form>

				<p class="login-last">Have An Account?<a href="/login">Login</a></p>
			</div>

				<%- include('partials/footer') %>

		</div>

