

	

	<%- include('partials/header') %>
	
		<h2 class="heading-view-patient">View Patient</h2>

<center>
		<table border="1">
			<tr>
				<th>Name</th><th>Gender</th><th>Genotype</th><th>Blood Group</th><th>ID</th>
			</tr>

			<% result.forEach(function(results) { %>
				<td> <%= results.firstname +' '+results.lastname %> </td>
				<td> <%= results.sex %> </td>
				<td> <%= results.genotype %> </td>
				<td> <%= results.bloodGroup %> </td>
				<td><a href="/viewdiagnosis/<%= results.id %>"> <%= results.id %> </a></td>
				</tr>
			<% }) %>

		</table>
	</center>

